{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Ajouter un véhicule</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.marque) }}
        {{ form_row(form.modele) }}
        {{ form_row(form.immatriculation) }}
        {{ form_row(form.prixParJour) }}
        {{ form_row(form.couleur) }}
        {{ form_row(form.poids) }}
        {{ form_row(form.disponible) }}
        {{ form_row(form.dateAjout) }}

        <div class="mb-3">
            {{ form_label(form.photos) }}
            {{ form_widget(form.photos, {'attr': {'multiple': true, 'class': 'form-control'}}) }}
            {{ form_errors(form.photos) }}
        </div>

        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('vehicule_index') }}" class="btn btn-link mt-3">Retour à la liste</a>
</div>
{% endblock %}
